/* Body */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Header */
#intro {
  position: relative;
}

/* Navigatie */
.menu {
  height: 60px;
  width: 100vw;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  transition: all .3s;
  z-index: 100;
}

@media (max-width: 700px) {
  .menu {
    height: 200px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .menu {
    height: 300px !important;
  }
}

.scrollActive {
  background: rgba(255, 255, 255, 0.8);
  height: 60px;
}

.scrollActive .menu-item a {
  color: #000;
}

.scrollActive .logo {
  color: #000;
  border: 3px solid #000;
  transition: all 2s;
}

.logo {
  font-size: 20px;
  padding: 5px 9px;
  border: 3px solid #fff;
  border-radius: .2em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 700px) {
  .logo {
    margin-bottom: 30px;
  }
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 450px) {
  .menu ul {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.menu-item {
  margin-left: 20px;
}

@media (max-width: 450px) {
  .menu-item {
    margin: 15px;
  }
}

.menu-item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-item a:hover {
  font-size: 18px;
}

.menu .active {
  font-weight: bold;
}

/* Voorstellen */
.heroImage {
  background: url(../IMG/achtergrond.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: -90px;
  left: calc(50% - 90px);
  overflow: hidden;
  border: 6px solid #fff;
}

.photo img {
  width: 100%;
}

.hero-text {
  margin-top: 430px;
  text-align: center;
}

.hero-text h1 {
  font-size: 70px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.hero-text h3 {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

main section {
  margin-bottom: 100px;
}

h2 {
  font-size: 30px;
  color: #2b2b2b;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  color: #c4c4c4;
  font-weight: normal;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  color: #c4c4c4;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

.vaardigheden {
  width: 30em;
  height: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.cv a {
  display: block;
  border: 3px solid black;
  border-radius: .2em;
  text-transform: uppercase;
  font-size: 1em;
  padding: 1em .5em;
  color: black;
  font-weight: bold;
  margin: 10px auto;
  width: 17em;
  margin-top: 3em;
  transition: all 0.3s ease;
  text-align: center;
}

.cv a:hover {
  background: black;
  color: white;
  letter-spacing: 1.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease;
  width: 23em;
  text-align: center;
}

#about {
  padding-top: 125px;
}

#about,
#portfolio {
  padding-bottom: 100px;
}

#portfolio {
  text-align: center;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-bottom: 20px;
}

.welcome-text h2,
.welcome-text h3 {
  text-align: center;
}

.welcome-text h3 {
  margin-bottom: 45px;
}

.porfolio-block {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-left: auto;
  margin-right: auto;
}

/* Ipad */
@media (max-width 1000px) {
  .porfolio-block {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .porfolio-block {
    grid-template-columns: repeat(1, 1fr);
  }

  .vaardigheden {
    width: 90%;
    height: 10em;
  }

  .heroImage {
    height: 60vh;
  }

  .heroImage h1,
  h3 {
    display: none;
  }
}

@media (max-width: 450px) {
  .porfolio-block {
    grid-template-columns: repeat(1, 1fr);
  }

  .heroImage {
    height: 40vh;
  }

  .heroImage h1,
  h3 {
    display: none;
  }
}

.portfolio-item {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  padding-bottom: 20px;
}

.portfolio-item a {
  height: 100%;
  width: 100%;
}

.portfolio-item img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 1.5;
  bottom: 1;
  z-index: -10;
  transition: all .6s;
}

.portfolio-item h4 {
  color: #fff;
  font-size: 26px;
  opacity: 0;
  transform: translateY(-30px);
  transition: all .5s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.portfolio-item p {
  color: #fff;
  font-size: 18px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all .5s;
  transition-delay: .2s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.portfolio-item:hover {
  background-color: rgb(0, 0, 0, 0.6);
}

.portfolio-item:hover h4 {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-item:hover p {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-item:hover img {
  transform: translateY(-10%);
}

.menu-background {
  background: rgba(255, 255, 255, 0.8);
}

.menu-background a,
.menu-background .logo {
  color: #000;
}

.menu-background .logo {
  border: 3px solid #000;
}

.portfolio-main {
  display: flex;
  padding: 0;
  margin-top: 120px;
  position: relative;
}

@media (max-width: 700px) {
  .portfolio-main {
    margin-top: 250px;
  }
}

@media (max-width: 350px) {
  .portfolio-main {
    height: 350px;
  }
}


@media (max-width: 800px) {
  .portfolio-main {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.portfolio-main h1 {
  font-size: 30px;
}

.portfolio-main p {
  color: #9c9c9c;
}

.portfolio-body {
  background-color: #F5F5F5;
}

.cross {
  position: absolute;
  top: -50px;
  right: 10px;
  height: 50px;
  width: 50px;
  padding: 10px;
  transition: all .4s;
}

.cross:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

/* main section article {
  display: grid;
  width: 100%;
  grid-template-rows: 5fr 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: black;
}

main section article a {

}

main section article img {
width: 100%;
height: 20em;
padding: 1em;
object-fit: cover;
object-position: top;
} */

#left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 800px) {
  #left {
    width: 80%;
  }
}

@media (max-width: 450px) {
  #left {
    width: 100%;
  }
}

#left img {
  margin-bottom: 25px;
  width: 85%;
}

#left iframe {
  margin-bottom: 25px;
  width: 85%;
  height: 750px;
}

/* resonsive block */
.responsiveBlock {
  display: none;
  width: 80%;
  text-align: center;
  margin: auto;
}

.responsiveBlock .flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.responsiveBlock .textRight {
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.responsiveBlock .textLeft {
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.responsiveBlock .desktopRight {
  width: 100%;
}

.responsiveBlock .desktopLeft {
  width: 100%;
}

@media (max-width: 450px) {
  #left iframe {
    width: 95%;
  }

  .responsiveBlock {
    display: block;
  }

  .responsiveBlock .flex {
    width: 100%;
  }

  .newBlock {
    display: none;
  }

  .responsiveBlock .textRight {
    text-align: center;
  }

  .responsiveBlock .textLeft {
    text-align: center;
  }
}

#right {
  width: 30%;
}

#right>ol {
  list-style: circle;
  font-size: 14px;
  color: #9C9C9C;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

@media (max-width: 1100px) {
  #right {
    width: 80%;
  }

  .responsiveBlock {
    display: block;
  }

  .newBlock {
    display: none;
  }
}

.contact-info {
  margin-bottom: 0;
  margin-top: 75px;
  text-align: center;
}


.hero-text {
  opacity: 0;
  transition: all .8s;
  transform: translateY(-40px);
}

.fade {
  opacity: 1;
  /* transform: translateY(0px); */
}

#right a {
  display: block;
  border: 3px solid black;
  border-radius: .2em;
  text-transform: uppercase;
  font-size: 1em;
  padding: 1em;
  color: black;
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 17em;
  margin-top: 2%;
}

#right a:hover {
  background: black;
  color: white;
  letter-spacing: 1.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease;
  width: 23em;
  text-align: center;
}

#contact {
  padding: 50px 0;
  margin-bottom: 0;
  background-color: #bb9a64;
  color: #fff;
  text-align: center;
}

#contact ul {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact h2,
#contact a {
  color: #fff;
  transition: .1s all;
}

#contact a:hover {
  font-size: 1.1rem;
  color: #cbcceb;
}

#contact li {
  margin: 0 10px;
  display: flex;
  height: 50px;
  width: 50px;
  transition: all .4s ease-in-out;
}

#contact img {
  width: 100%;
  padding: 10px;
}

#contact li:hover {
  transform: rotate(360deg);
}

p a {
  color: #000;
  transition: all .2s;
}

p a:hover {
  color: #cbcceb;
}

/* Navigatie ordening projecten */

/* Create three equal columns that floats next to each other */
.column {
  display: none;
  /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#myBtnContainer {
  padding-bottom: 2em;
}

/* Content */
/* .content {
  background-color: white;
  padding: 10px;
} */

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 0.2em;
  font-style: Montserrat;
  font-size: 18px;
  font-weight: lighter;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


/* Add a grey background color on mouse-over */
/* .btn:hover {
  background-color: #ddd;
} */

/* Add a dark background color to the active button */
.btn.active {
  /* background-color: #000000; */
  /* border: 3px solid #000; */
  color: black;
  font-weight: normal;
}

#button-underline {
  position: relative;
  color: black;
  text-decoration: none;
}

#button-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: black;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;

}

/* #button-underline:before {
  display: block;
  position: absolute;
  right: 0;
  top: -5px;
  width: 0;
  height: 3px;
  background-color: black;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
} */

#button-underline:hover:after,
#button-underline:hover:before {
  width: 100%;
}

/* Macbook layout */
.flex {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto 150px;
}

/* Desktop Left */
.desktopLeft {
  width: 50%;
  height: 300px;
}

.desktopLeft img {
  width: 100%
}

.textRight {
  width: 50%;
  height: 300px;
  padding-top: 50px;
  margin-left: 80px;

}

.textRight h4 {
  /* text-align: center; */
  font-size: 30px;
  text-transform: uppercase;
  font-size: 300;
  margin-right: 0;
  color: black;
  text-align: right;
}

.textRight h5 {
  font-size: 20px;
  font-weight: 100;
  margin-right: 0;
  color: lightgrey;
  margin-right: 0;
  text-align: right;
}

.textRight p {
  text-align: right;
}

/* Desktop Right */

.desktopRight {
  width: 50%;
  height: 300px;

}

.desktopRight img {
  width: 100%;
}

.textLeft {
  width: 50%;
  height: 300px;
  padding-top: 50px;
  margin-left: 80px;

}

.textLeft h4 {
  font-size: 30px;
  text-transform: uppercase;
  font-size: 300;
  margin-right: 0;
  color: black;
  text-align: left;
}

.textLeft h5 {
  font-size: 20px;
  font-weight: 100;
  margin-right: 0;
  color: lightgrey;
  margin-right: 0;
  text-align: left;
}

.textLeft p {
  text-align: left;
}

/* Detailpagina klik hier button */
#cloud>img {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 50px;
  left: 20px;
}